@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(./fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root{
    --cor0:#A1EEAF;
    --cor1:#5BF077;
    --cor2: #7FBA8A;
    --cor3: #4B6E51;
    --cor4: #2A6E36;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #A1EEAF;
    font-family: var(--fonte-padrao);
}
header{
    background-image: linear-gradient(to bottom, #2A6E36, #7FBA8A);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: #ffffff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 black;
}
header > p{
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    margin: auto;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0 black;
    margin-bottom: 20px;
}
nav{
    background-color: #2A6E36;
    padding: 8px;
}
nav > a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition-duration: .5s;
    border-radius: 3px;
}
nav > a:hover{
    background-color: #5BF077;
    color: #ffffff;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px black;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main img{
    width: 100%;
}
main img.pequena{
    width: 50%;
    margin: auto;
}
main h1{
    color: #2A6E36;
    font-family: var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
    color: #2A6E36;
    font-size: 1.3em;
    background-image: linear-gradient(to right, #A1EEAF, transparent);
    text-indent: 3px;
}
div.video{
    background-color: #2A6E36;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: #A1EEAF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.856);
}
aside > h3{
background-color: #2A6E36;
color: #ffffff;
padding: 5px;
margin: -10px -10px 0 -10px;
border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: #2A6E36;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}